params {
    // Looks for a data folder inside your pipeline folder
    aln_bam = "${baseDir}/data/*.aln.bam"
    // Default output directory
    outdir  = "${baseDir}/results"
}

profiles {
    // For your laptop
    laptop {
        process {
            withName: reset_bam {
                cpus   = 4
                memory = '8 GB'
            }
        }
        docker.enabled = true
        apptainer.enabled = false
    }

    // For high-performance server
    server {
        process {
            withName: reset_bam {
                cpus   = 32
                memory = '64 GB'
            }
        }
        docker.enabled = false
        apptainer.enabled = true
        // If the server uses Slurm or SGE, you can add that here:
        // process.executor = 'slurm'
    }
}